* {
    font-size: 1.2rem;
    font-family: Arial, Helvetica, sans-serif;
}
body, ul, li, p {
    padding: 0;
    margin: 0;
    list-style: none;
    text-decoration: none;
}
main{
    display: flex;
    flex-direction: column;
    margin: 20px;
}
a{
    text-decoration: none;
    text-transform: uppercase;
    color: black;
    font-size: 28px;
    font-weight: 700;
}
.voltar {
    display: flex;
    align-items: center;
    background-color: rgb(134, 42, 42);
    height: 35px;
    color: black;
    padding: 5px;
    width: 140px;
    border-radius: 5px;
    position: fixed;
    bottom: 0;
    margin: 0 0 5px 0;
}

img {
    padding-left: 5px;
    height: 32px;
}
.conteiner {
    width: 420px;
}
.conteiner-items{
    display: flex;
    flex-direction: row;
    justify-content: space-between;
}
.conteiner-items:first-child {
    display: flex;
    justify-content: flex-start;
}
.conteiner-items{
    margin-bottom: 10px;
}
#cifra {
    color:red;
}